{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        
    </title>
    <link rel="icon" type="image/x-icon" href="{% static 'myproject/images/icon.svg' %}">
    <link rel="stylesheet" href="{% static 'myproject/css/attendance.css' %}">
</head> 
<body>
    <header class="u-clearfix u-header u-header" id="sec-7bf3">
        <div class="u-clearfix u-sheet u-sheet-1">
            <div style="margin-top: 10px;">
                <img src="{% static 'myproject/images/logo.png' %}" class="u-logo-image u-logo-image-1" 
                style="width: 110px; height: auto ; padding-left: 60px; padding-bottom: 10px;">
                <nav style="float: right;">
                    <a href="{% url 'myApp:home' %}" style="width: 180px; height: auto ; padding-left: 1300px; padding-top: 10px">
                        <img src="{% static 'myproject/images/home_icon.png' %}" alt="Home" style="width: 24px; height: 24px; padding-top: 30px;">
                    </a>
                </nav>
        </div>
        </header>
    <div class="main-content">
        <h1 style="font-family: 'Times New Roman', serif;">STAFF LEAVE DATA</h1>

        <form method="GET" action="{% url 'myApp:leave_limit' %}">

            {% csrf_token %}  <!-- Include CSRF token for security -->
            {{ form.as_p }}
            <table class="attendance-table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Employee Name</th>
                        <th>Designation</th>
                        <th>Total Leaves</th>
                        <th>Remaining Leaves</th>
                    </tr>
                </thead>
                <tbody>
                    {% for staff in staff_list %}
                    <tr>
                        <td>{{ staff.id_no }}</td>
                        <td>{{ staff.name }}</td>
                        <td>{{ staff.designation }}</td>
                        <td>{{staff.totalleaves}}</td>
                        <td>{{staff.remainingleaves}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </form>

    </div>
</body>
</html>
